<h1>Post of <%= user.name %>
</h1>
<form action="/c_post/<%=user.id%>/posts" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="post[title]" id="title" placeholder="Title">
    </div>
    <div>
        <label for="caption">Caption</label>
        <input type="text" name="post[caption]" id="caption" placeholder="Caption">
    </div>
    <div>
        <label for="imgLink">Image</label>
        <input type="text" name="post[imgLink]" id="image" placeholder="Image">
    </div>
        <div>
            <label for="comment">Comment</label>
            <input type="text" name="post[comment]" id="comment" placeholder="comment">
        </div>
        <button type="submit">Post</button>
</form>