<% layout("layout/boilerplate") %>

    <div class="container offset-2 bg-light">
        <h1>Users list</h1>
        <ol>
            <% for (let user of users) { %>
                <!-- 111111111 -->
                <li>
                    <a href="user/<%= user._id%>">
                        <%= user.name %>
                    </a>
                </li>
                <% } %>
        </ol>
    </div>